body{
	background-image: url(../images/a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	box-shadow: unset !important;
}
.home-nav .logo{
	padding: 0;
	margin-left: 5px;
	font-family: cursive;
	margin-bottom: 10px;
}
.nav-background{
	    background:#0074ba !important;
}
.home-nav p{
	padding: 0;
    font-size: 10px;
    margin: -41px 0 0 0;
}
.logout{
	margin-right: 30px;
}
.first-row{
	margin-top: 20px;
	margin-bottom: 20px;
}
label{
	font-size: 15px;
}
.modal-content img{
	width: 300px;
    height: auto;
    float: right;
}
.undefined{
	width: 75%;
    margin: 0 auto;
    margin-top: 80px !important;
}.account-type{
	    position: absolute;
    color: white;
    background: #e19b17;
    margin: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.card-body{
	    background:#ececec;
}
.card-body a{
	    min-height: 300px;
}
.modal-overlay{
	display: none !important;
}