/*css for navbar*/
.navbar-before{
	background-color: rebeccapurple;
    color: white !important;
    font-size: 20px;
}
/*css for register page*/
.register-body{
	margin:0;
	background-image: url(../images/a.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.register-content{
	background-color: rgba(249, 248, 244, 1);
    margin-top: 120px;
    box-shadow: 2px 2px 14px 0px #00000047;
    margin-bottom: 30px;
}
.register-content .heading{
	background-color: rgb(255, 163, 0);
	margin: -15px;
    padding: 10px 0 10px 15px;
    color: white;
    padding-left: 15px;
    font-size: 22px;
    font-family: initial;
    font-style: inherit;
}
.register-content .register-form{
	margin: 35px 0 10px 0;
}
/*css for homepage*/
.home{
    background-image: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 !important;
    padding:0 !important;
}
.add-account a,
.update-profile a{
    margin-top: 10px;
    font-size: 19px;
    background: red;
    font-family: unset;
    text-decoration: none;
}
/*.update-profile a{
    float: right;
}*/
.notify{
    color:white !important;
    padding: 0 0 0 0 !important;
    background-color: #fea300 !important;
    border: none !important;
}
